@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/brands.min.css');

p{
    text-align: center;
    font-size: 30px;
}
#regstration{
    height: 700px;
    width: 1100px;
    background-color: rgb(189, 251, 251);
    margin: 30px auto;
    border-radius: 10px;
}
.form{
    position: relative;
}
.form-control{
    padding: 20px 50px;
    margin: 15px;
    position: relative;
}
.form-control label{
    font-size: 20px;
}
.form-control input{
    float: right;
    height: 27px;
    width: 320px;
    outline: 0;
    border: 1.5px solid black;
    border-radius: 3px;
}
.form-control input:focus{
    outline: auto;
    border: 2px solid black;
}
.form-control small{
    position: absolute;
    left: 699px;
    top: 55px;
    visibility: hidden;
}
.form-control.error small{
    color: red;
    visibility: visible;
}
.form-control i {
	position: absolute;
    top: 28px;
    right: 54.5px;
    visibility: hidden;
}
.form-control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.form-control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}
#btn1{
    width: 125px;
    height: 38px;
    float: right;
    margin-top: 12px;
    margin-right: 67px;
    border-radius: 5px;
    cursor: pointer;
    background-color: blanchedalmond;
    font-size: 20px;
    outline: 0;
    border: none;
}
#btn1:hover{
    background-color: cornflowerblue;
}

