@import"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css";
@import"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/brands.min.css";

  
#Calculator{
    height: 570px;
    width: 320px;
    background-color: #E5E2E2;
    border-radius: 9px;
    position: relative;
    margin: 30px auto;
}
.result{
    height: 120px;
}
.keyboard{
    height: 400px;
    position: relative;
}
.history{
    height: 40px;
    text-align: right;
    font-size: 18px;
    margin: 0 20px;
    padding-top: 5px;
    opacity: 60%;
}
.output{
    text-align: right;
    height: 60px;
    font-size: 30px;
    margin: 0 20px;
    /*overflow-y: scroll;*/
}
.operator, .number, .empty{
    width: 50px;
    height: 50px;
    margin: 19px 15px;
    float: right;
    border-radius: 50%;
    border-width: 0;
    font-size: 15px;
    font-weight: bold;
}

.number, .empty, .operator{
    background: linear-gradient(to bottom, #E5E2E2 , #9C9393);
    cursor: pointer;
}
.number:focus, .operator:focus, .empty:focus{
    outline: none;
}
.operator:hover, .empty:hover{
    background: linear-gradient(to bottom, #65b0f7 , #f74de0);
}
.number:hover{
    background: linear-gradient(to bottom, #E5E2E2 , #f74de0);
}
.fa-arrow-right{
    font-size: 25px;
}
.fa-arrow-circle-right:hover{
    color: green;
    cursor: pointer;
}

.scientific_cal{
    position: absolute;
    height: 435px;
    width: 280px;
    background-color: #f59a9a;
    top: 15px;
    border-radius: 0px 9px 9px 9px;
    visibility: hidden;
}
.scientific_cal .operator_s{
    width: 47px;
    height: 47px;
    margin: 12.5px 10px;
    float: left;
    border-radius: 50%;
    border-width: 0;
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
    outline: none;
    border: none;
}
.scientific_cal .operator_s img{
    height: 20px;
    width: 20px;
}
.scientific_cal .operator_s:hover{
    background-color: #c5c1c1;
}