.main_container{
    height: 550px;
    width: 500px;
    background-color: rgb(111, 252, 205);
    border-radius: 10px;
    margin: 35px auto;
}
.teb{
    height: 100px;
    width: 100%;
}
.teb h1{
    text-align: center;
    padding-top: 30px;    
}
.game_grid{
    height: 58%;
    width: 63.8%;
    background-color: yellow;
    margin: auto;
}
.game_cell{
    height: 100px;
    width: 100px;
    background-color: rgb(111, 252, 205);
    float: left;
    margin: 3px;
    cursor: pointer;
}
.button{
    margin-top: 50px;
    margin-left: 90px;
    position: relative;
}
.button button{
    height: 27px;
    width: 100px;
    margin-left: 5px;
    border: none;
    outline: none;
    background-color: antiquewhite;
    border-radius: 5px;
    cursor: pointer;
}
.button button:hover{
    background-color: rgb(135, 14, 248);
    color: white;
}
.x::after{
    content: 'x';
    font-size: 80px;
    margin: 20px 30px;
}
.o::after{
    content: 'o';
    font-size: 80px;
    margin: 20px 30px;
    color: white;
}
.button p{
    padding-left: 12px; 
    font-size: 20px;  
}
.won::after{
    color: red;
}